<% provide(:title, 'Grooming Products For Men') %>

<div id="content">
<div id="hero-spot">

		<div class="description">

			<h1>Take Your Lifestyle To The Next Level!</h1>
			<p>Imagine a lifestyle where you could look your personal best, feel confident at all times, attract the people you desire, and get that promotion or job you've always been searching for.</p>
			<p>Well look no further - with Shield For Men, you can stop worrying about your appearance - and concentrate on the lifestyle that you want!</p>
			<div class="cta">
			<div class="buy-now-btn">
				<a href="/store"><img src="<%= image_path "buy-now-btn.png" %>" alt="buy now" width="183" height="62" border="0" /></a>
			</div><!-- end buy-now-btn -->
			<div class="how-it-works-link">
				<p>or <a href="/works">Check Out How It Works</a></p>
			</div><!-- how-it-works-link -->
			</div><!-- end cta -->

		</div><!--end  description-->

		<div class="video">
			<iframe src="http://player.vimeo.com/video/38908567?title=0&amp;byline=0&amp;portrait=0" width="411" height="231" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div><!-- end video -->

		</div><!-- end hero-spot -->
		<div class="clearfix"></div>
		<hr />

		<div id="benefits">
			<h2>Benefits:</h2>
			<div class="benefits-dtl">
				<div class="description">
					<img src="<%= image_path "safe-to-use-small.jpg" %>" alt="safe to use" width="43" height="46" border="0" />
					<p>
					<span class="bold">Safe To Use</span><br/>
					No need to worry about harmful chemicals and preservatives that harm your health. Our products are completely natural and organic.
					</p>	
				</div><!-- end description -->
			</div><!-- end benefits-dtl -->

			<div class="benefits-dtl">
				<div class="description">
					<img src="<%= image_path "3-in-1-product-small.jpg" %>" alt="3-in-1-product" width="43" height="46" border="0" />
					<p>
					<span class="bold">3-in-1 Complete Product</span><br/>
					Our solution is a acne/blemish treatment, after-shave lotion, and anti-wrinkle cream all in one!
					</p>	
				</div><!-- end description -->
			</div><!-- end benefits-dtl -->

			<div class="benefits-dtl">
				<div class="description">
					<img src="<%= image_path "money-back-guarantee-small.jpg" %>" alt="money back guarantee" width="43" height="46" border="0" />
					<p>
					<span class="bold">100% Money Back Guarantee</span><br/>
					If for any reason, at any time, your unsatisfied with our products, you can refund it for a full 100% money back guarantee.
					</p>	
				</div><!-- end description -->
			</div><!-- end benefits-dtl -->

			<div class="benefits-dtl">
				<div class="description">
					<img src="<%= image_path "always-free-shipping-small.jpg" %>" alt="always free shipping" width="43" height="46" border="0" />
					<p>
					<span class="bold">Free Shipping Always</span><br/>
					No need to pay for those pesky shipping charges. Our products are shipping to your door free of charge!
					</p>	
				</div><!-- end description -->
			</div><!-- end benefits-dtl -->
		</div><!-- end benefits -->

		<div id="testimonials">
			<h2>Testimonials:</h2>

			<div class="testimonial-dtl">
				<div class="img">
					<img src="<%= image_path "testimonial-1-img.jpg" %>" alt="testimonial 1" width="60" height="60" border="0" />
				</div><!-- end img -->
				<div class="quote">
					<p>
						"Just wanted you to know that I am very impressed with the results I'm getting with my male clients with Shield For Men products. I've worked with many skin care products in the past, but Shield For Men products are surely a product I put my name behind!"<br/>
						<strong>-Alice, Esthetician</strong>
					</p>
				</div><!-- end quote -->
			</div><!-- end testimonial-dtl -->

			<div class="testimonial-dtl">
				<div class="img">
					<img src="<%= image_path "testimonial-2-img.jpg" %>" alt="testimonial 2" width="60" height="60" border="0" />
				</div><!-- end img -->
				<div class="quote">
					<p>
						"I've embarked on a search for a good skin care solution for years. I've tried product after product only to be disappointed with the results and how difficult it was to find a product that worked well with my skin type. Since I've been using Shield For Men products, my skin texture has greatly improved and I am more confident than I've ever been. Thanks Shield For Men!"<br/>
						<strong>-David</strong>
					</p>
				</div><!-- end quote -->
			</div><!-- end testimonial-dtl -->

		</div><!-- end testimonials -->
		<div class="clearfix"></div>
</div><!-- end content -->
<div class="clearfix"></div>
