<% provide(:title, 'Grooming Tips') %>

<div id="content">
	<div class="left-nav">
		<h2>Grooming Tips</h2>
		<ul>
			<li><a href="#">Grooming Tips</a></li>
			<li><a href="#">Our Videos</a></li>
		</ul>
		
	</div><!-- end left-nav -->
	

	<div class="grooming-content">
		<h1>Grooming Tips</h1>
		<div id="post-wrapper">
		<div class="post">
			<h1><a href="/tips/benefits">The Benefits Of Natural Skin Care</a></h1>
			<p class="post_thumbnail">
				<a href="/tips/benefits"><img src="<%= image_path "the-benefits-of-natural-skin-care.png" %>" alt="The Benefits of Natural Skin Care" width="150" height="150" border="0" /></a>
			</p>
			<div class="social-sharing" style="clear: right; float: left; width: 150px; overflow: hidden; margin: 8px 10px 0 10px;">

				<div id="fb_share_1" style="float: right; margin-left: 6px;"><a name="fb_share" type="box_count" share_url="http://www.shieldformen.com//tips/benefits" href="http://www.facebook.com/sharer.php">Share</a></div>
				<div><script src="<%= asset_path "FB.Share" %>" type="text/javascript"></script></div>

				<div class="tweet_button" style="float: right; margin-left: 8px;">
					<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
					<a href="http://twitter.com/share" class="twitter-share-button"
					 		data-url="http://www.shieldformen.com//tips/benefits"
							data-via="shieldformen"
							data-text="The Benefits Of Natural Skin Care"
							data-count="vertical">Tweet</a>

				</div>
			
			</div>
			<div class="post_content">
				<p>No matter what the industry will have you believe, we don’t really need all these different chemical products that treat every skin condition known to man. They tell you to use one certain product when blemishes form. And then turn around and try to sell you another product when your skins dry.</p>
				<div class="read-more-button"><a href="/tips/benefits" class="read-more"><img src="<%= image_path "read-more-btn.png" %>" alt="read-more-btn" border="0" /></a></div>
			</div><!-- end post_content -->
		</div><!-- end post-->
		<div class="clearfix"></div>
		</div><!-- end post-wrapper -->
		<div id="post-wrapper">
		<div class="post">
			<h1><a href="/tips/moisturizers">Do Real Men Use Moisturizers?</a></h1>
			<p class="post_thumbnail">
				<a href="/tips/moisturizers"><img src="<%= image_path "do-real-men-use-moisturizers.png" %>" alt="Do Real Men Use Moisturizers" width="150" height="150" border="0" /></a>
			</p>
			<div class="social-sharing" style="clear: right; float: left; width: 150px; overflow: hidden; margin: 8px 10px 0 10px;">

				<div id="fb_share_1" style="float: right; margin-left: 6px;"><a name="fb_share" type="box_count" share_url="http://www.shieldformen.com/tips/moisturizers" href="http://www.facebook.com/sharer.php">Share</a></div>
				<div><script src="<%= asset_path "FB.Share" %>" type="text/javascript"></script></div>

				<div class="tweet_button" style="float: right; margin-left: 8px;">
					<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
					<a href="http://twitter.com/share" class="twitter-share-button"
					 		data-url="http://www.shieldformen.com/tips/moisturizers"
							data-via="shieldformen"
							data-text="Do Real Men Use Moisturizers?"
							data-count="vertical">Tweet</a>
				</div>
			
			</div>
			<div class="post_content">
				<p>No matter what your age or current skin condition, a good moisturizer can always keep you looking your best. A moisturizer can serve more purposes than just keeping your skin hydrated. For men with oily, blemish-prone skin, a good moisturizer delivers antibacterial agents to prevent your skin from further annoying breakouts.
				</p>
				<div class="read-more-button"><a href="/tips/moisturizers" class="read-more"><img src="<%= image_path "read-more-btn.png" %>" alt="read-more-btn" border="0" /></a></div>
			</div><!-- end post_content -->
		</div><!-- end post-->
		<div class="clearfix"></div>
		</div><!-- end post-wrapper -->
		<div id="post-wrapper">
		<div class="post">
			<h1><a href="/tips/cleansers">Why Do Men Need Cleansers?</a></h1>
			<p class="post_thumbnail">
				<a href="/tips/cleansers"><img src="<%= image_path "why-do-men-need-cleansers.png" %>" alt="Why Do Men Need Cleansers?" width="150" height="150" border="0" /></a>
			</p>
			<div class="social-sharing" style="clear: right; float: left; width: 150px; overflow: hidden; margin: 8px 10px 0 10px;">

				<div id="fb_share_1" style="float: right; margin-left: 6px;"><a name="fb_share" type="box_count" share_url="http://www.shieldformen.com/tips/cleansers" href="http://www.facebook.com/sharer.php">Share</a></div>
				<div><script src="c" type="text/javascript"></script></div>

				<div class="tweet_button" style="float: right; margin-left: 8px;">
					<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
					<a href="http://twitter.com/share" class="twitter-share-button"
					 		data-url="http://www.shieldformen.com/tips/cleansers"
							data-via="shieldformen"
							data-text="Why Do Men Need Cleansers?"
							data-count="vertical">Tweet</a>
				</div>
			
			</div>
			<div class="post_content">
				<p>City lifestyles can be extremely harmful to your skin. All of the dust, grime, smoke, dirt and dried sweat can challenge even the healthiest of skin types. When these particles pile up on the outer layer of your skin, it begins to clog your pores and form a sticky film layer that can cause a multitude of skin problems.
				</p>
				<div class="read-more-button"><a href="http://www.shieldformen.com/tips/cleansers" class="read-more"><img src="<%= image_path "read-more-btn.png" %>" alt="read-more-btn" border="0" /></a></div>
			</div><!-- end post_content -->
		</div><!-- end post-->
	</div><!-- end post-wrapper-->
	<div class="clearfix"></div>
	</div><!-- end grooming-content -->
	<div class="clearfix"></div>
	
</div><!-- end content -->
<div class="clearfix"></div>