<%= form_for(@discount) do |f| %>
  <% if @discount.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discount.errors.count, "error") %> prohibited this discount from being saved:</h2>

      <ul>
      <% @discount.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :discount_code %><br />
    <%= f.text_field :discount_code, :size => 50, 
              :class => 'formInputText' %>
  </div>
  <div class="field">
    <%= f.label :site_name %><br />
    <%= f.text_field :site_name, :size => 50, 
              :class => 'formInputText' %>
  </div>
  <div class="field">
    <%= f.label :site_url %><br />
    <%= f.text_field :site_url, :size => 50, 
              :class => 'formInputText' %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => 50,
              :class => 'formInputTextArea' %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id, :size => 50, 
              :class => 'formInputText' %>
  </div>
  <div class="field">
    <%= f.label :order_id %><br />
    <%= f.number_field :order_id, :size => 50, 
              :class => 'formInputText' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
