<div id="header">
			<%= link_to "shieldformen", root_path, id: "logo" %>

			<div class="clearfix"></div>
			<nav>
				<ul class="menu lgray" id="menu">

					<li><%= link_to "Home", 			root_path %></li>

					<li><%= link_to "Products", 	store_path %>
						<!-- start mega menu -->
						<div class="cols3">
							<div class="col3">
								<h4>Choose one of our products below.</h4>
							</div>
							<div class="col1">
								<h5>Packages</h5>
								<ol>
								    <li><a href="#">Full Package</a></li>
								</ol>
							</div>
							<div class="col1">
								<h5>Cleanser</h5>
								<ol>
								    <li><a href="#">Wash + Protect</a></li>
								</ol>
							</div>
							<div class="col1">
								<h5>Moisturizer</h5>
								<ol>
								    <li><a href="#">Moisturize + Shield</a></li>
								</ol>
							</div>

							<div class="col1">
								<h5>All Natural</h5>
								<p>Our products are made with all natural, organic ingredients and specifically formulated for men.</p>
							</div>
						</div>
						<!-- end mega menu -->
					</li>

					<li><%= link_to "How It Works", 	works_path %></li>

					<li><%= link_to "Grooming Tips",  tips_path %></li>

					<li><%= link_to "Our Blog", 			'http://blog.shieldformen.com', 
										:target => "_blank" %></li>

					<li><%= link_to "About Us", 			about_path %></li>

					<% if session[:user_id] %>
					<li class="floatr"><%= link_to "Admin", admin_path %>
						<div class="cols4">
							<div class="col1">
								<h5>Orders</h5>
								<ol>
									<li><%= link_to 'List Orders', orders_path %></li>
								</ol>
							</div>
							<div class="col1">
								<h5>Products</h5>
								<ol>
									<li><%= link_to 'List Products', products_path %></li>
									<li><%= link_to 'Add Product', new_product_path %></li>
								</ol>
							</div>
							<div class="col1">
								<h5>Sizes</h5>
								<ol>
									<li><%= link_to 'List Sizes', sizes_path %></li>
									<li><%= link_to 'Add Size', new_size_path %></li>
								</ol>
							</div>
							<div class="col1">
								<h5>Users</h5>
								<ol>
									<li><%= link_to 'List Users', users_path %></li>
									<li><%= link_to 'Add User', new_user_path %></li>
								</ol>
							</div>
							<div class="col1">
								<h5>Discounts</h5>
								<ol>
									<li><%= link_to 'List Discount Codes', discounts_path %></li>
									<li><%= link_to 'Add Discount Code', new_discount_path %></li>
								</ol>
							</div>
							<div class="col1">
								<h5>Logout</h5>
								<ol>
									<li><%= link_to 'Logout', logout_path, method: :delete %></li>
								</ol>
							</div>
						</div>
					</li>
					<% end %>

					<li class="floatr"><%= link_to "View Cart", carts_path %>
						<!-- start mega menu -->
						<div class="cols3" id="styles">
							<div class="col3"><h4>Your Shopping Cart</h4></div>

								<%= render('orders/shoppingcart') %>

						</div>
						<!-- end mega menu -->
					</li>
				</ul>
			</nav>
			
			
			
			
		</div><!-- end header -->
		<div class="clearfix"></div>